00_firmataExample/
Polar_OH1_heartbeat-master/
arduinoLazor/
arrow_drill/
autoCaption/
basicSandbox/
class_arrow_test/
colorSortStudy/
cpp_sandbox/
creditNumberCV/
encouragedComputer-backup/
encouragedComputer-backup2/
encouragedComputer3/
inkStudy/
lovelyKeyboard/
mailPiano/
meltingClock-backup/
menhera_computer/
noiseSandbox/
oFPathStudy/
ofpolyline/
ofxFlowToolsStudy/
ofxGUIStudy/
parametricLiquid/
randomCaption/
sandbox/
softVisualize/Makefile
softVisualize/bin/
softVisualize/src/main.cpp
softVisualize/src/ofApp.cpp
softVisualize/src/ofApp.h
study/
trash/backup.md
tutorial/
tvClassTest/
inkDebug/
inkDebug4/
inkDebug5/
inkFillBufferDebug/
inkTest/



*.make
*.plist
*.xcconfig
*.xcodeproj


#.gitignore is a file which makes git ignore files which should
# not go into version control in the first place
# Questions? See
# http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files
# http://git-scm.com/docs/gitignore

###########################
# ignore generated binaries
# but not the data folder
###########################

/bin/*
!/bin/data/

#########
# general
#########

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log

########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
*.xccheckout
xcuserdata/

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Android Studio
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

##################
# operating system
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Android
.csettings